html,
body {
	height: 100%;
}

body {
	background: #c0ffee;
	perspective: 100;
	perspective-origin: center;
}

.compass {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
}

.compass1 {
	background: #000;
}

.compass2 {
	background: #decaff;
}
